[include macros/*.cfg]

[stepper_x]
step_pin: PC2
dir_pin: PB9
enable_pin: !PC3
microsteps: 16
rotation_distance: 40
endstop_pin: ^PA5
position_min: -11
position_endstop: -11
position_max: 165
homing_speed: 50

[stepper_y]
step_pin: PB8
dir_pin: PB7
enable_pin: !PC3
microsteps: 16
rotation_distance: 40
endstop_pin: ^PA6
position_min: -5
position_endstop: -5
position_max: 165
homing_speed: 50

[stepper_z]
step_pin: PB6
dir_pin: !PB5
enable_pin: !PC3
microsteps: 16
rotation_distance: 8
endstop_pin: probe:z_virtual_endstop
position_min: -5.0
position_max: 180

[extruder]
max_extrude_only_distance: 100.0
step_pin: PB4
dir_pin: PB3
enable_pin: !PC3
microsteps: 16
rotation_distance: 27.53480577
nozzle_diameter: 0.400
filament_diameter: 1.750
heater_pin: PA1
sensor_pin: PC5
sensor_type: EPCOS 100K B57560G104F
control: pid
# PID_CALIBRATE HEATER=extruder TARGET=220
pid_Kp: 29.492
pid_Ki: 2.070
pid_Kd: 105.067
min_temp: 0
max_temp: 260

[heater_bed]
heater_pin: PB10
sensor_type: EPCOS 100K B57560G104F
sensor_pin: PC4
control: pid
# PID_CALIBRATE HEATER=heater_bed TARGET=50
pid_Kp: 72.921
pid_Ki: 1.594
pid_Kd: 834.031
min_temp: 0
max_temp: 85

# Part Cooling Fan
[fan]
pin: PA0

[mcu]
serial: /dev/serial/by-id/usb-1a86_USB_Serial-if00-port0
restart_method: command

[temperature_sensor raspberry_pi]
sensor_type: temperature_host
max_temp: 100

[temperature_sensor mcu_temp]
sensor_type: temperature_mcu #Spider Temps
max_temp: 100

# Make sure you add the klipper init script for the mcu
# https://github.com/Klipper3d/klipper/blob/master/docs/RPi_microcontroller.md#install-the-rc-script
[mcu rpi]
serial: /tmp/klipper_host_mcu

# Accelerometer
[adxl345]
cs_pin: rpi:None

[resonance_tester]
accel_chip: adxl345
probe_points:
    83, 83, 20

[printer]
kinematics: cartesian
max_velocity: 300
max_accel: 6800 # Calculated from input_shaper https://www.klipper3d.org/Measuring_Resonances.html
max_z_velocity: 5
max_z_accel: 100

# https://github.com/MarlinFirmware/Configurations/pull/633#issuecomment-995424611
# https://docs.google.com/spreadsheets/d/1DYhh9fwLnvZzuNvMoBen9Dl68KN-4TWkbO94lJ4iwe4/edit
[display]
lcd_type: st7920
cs_pin: PB12
sclk_pin: PB13
sid_pin: PB15
encoder_pins: ^PB14, ^PA2
click_pin: ^!PB2

[output_pin beeper]
pin: PC6

# Calibrated for this bracket https://www.thingiverse.com/thing:5176711
[bltouch]
sensor_pin: ^PB1
control_pin: PB0
x_offset: -30
y_offset: 2
z_offset: 1.830 # PROBE_CALIBRATE

# BLTouch home location
[safe_z_home]
home_xy_position: 83, 63 # Change coordinates to the center of your print bed
speed: 50
z_hop: 10
z_hop_speed: 20

[virtual_sdcard]
path: home/pi/gcode_files

# TUNING_TOWER COMMAND='SET_HEATER_TEMPERATURE HEATER=extruder' PARAMETER=TARGET START=235 FACTOR=-1 BAND=10.0
[tuning_tower]

[pause_resume]

[idle_timeout]
timeout: 600

[duplicate_pin_override]
pins: PC5, rpi:LED_BAR

[board_pins]
mcu: rpi
aliases:
    CASE_FAN=gpio13,    #BCM=13, wPI=23, Physical=33 (green/black long)
    EXTRUDER_FAN=gpio19,#BCM=19, wPI=24, Physical=35 (red/blue)
    LED_BAR=gpio26      #BCM=26, wPI=25, Physical=37 (green/black short)

[heater_fan extruder]
pin: rpi:EXTRUDER_FAN
heater: extruder
fan_speed: 1.0

[controller_fan case_fan]
pin: rpi:CASE_FAN
fan_speed: 1.0 # Fan is too loud at 100%, but the PWM signal is very anoying
heater: heater_bed

# https://www.thingiverse.com/thing:5176620
[output_pin led_bar]
pin: rpi:LED_BAR

# BED_SCREWS_ADJUST
[bed_screws]
screw1: 26, 32
screw2: 136, 32
screw3: 136, 126
screw4: 26, 126

# https://www.klipper3d.org/Manual_Level.html#adjusting-bed-leveling-screws-using-the-bed-probe
# G28
# SCREWS_TILT_CALCULATE
[screws_tilt_adjust]
screw1: 57, 38
screw1_name: front left screw
screw2: 165, 38
screw2_name: front right screw
screw3: 165, 132
screw3_name: back right screw
screw4: 57, 132
screw4_name: back left screw


# BED_MESH_CALIBRATE PROFILE=default
[bed_mesh]
speed: 120
horizontal_move_z: 5
mesh_min: 10,10
mesh_max: 130, 130
probe_count: 7,7
algorithm: bicubic


[filament_switch_sensor RunoutSensor]
pause_on_runout: True
switch_pin: !PA4


# Input Shaper
[input_shaper]
shaper_freq_x: 96.4
shaper_type_x: ei
shaper_freq_y: 78.2
shaper_type_y: 2hump_ei

# BED_MESH_CALIBRATE PROFILE=default
# The following config is saved by the bed mesh leveling

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [bed_mesh default]
#*# version = 1
#*# points =
#*# 	-0.032500, -0.052500, 0.000000, -0.050000, -0.012500, 0.107500, 0.275000
#*# 	-0.037500, -0.062500, -0.022500, -0.077500, -0.032500, 0.060000, 0.242500
#*# 	0.052500, -0.075000, 0.022500, -0.027500, -0.012500, 0.080000, 0.252500
#*# 	-0.082500, -0.077500, -0.007500, -0.050000, -0.027500, 0.057500, 0.257500
#*# 	-0.007500, -0.045000, -0.372500, -0.047500, 0.007500, 0.110000, 0.265000
#*# 	0.017500, -0.022500, 0.002500, -0.032500, -0.025000, 0.060000, 0.272500
#*# 	0.165000, -0.047500, 0.012500, -0.040000, -0.015000, 0.095000, 0.230000
#*# tension = 0.2
#*# min_x = 10.0
#*# algo = bicubic
#*# y_count = 7
#*# mesh_y_pps = 2
#*# min_y = 10.0
#*# x_count = 7
#*# max_y = 130.0
#*# mesh_x_pps = 2
#*# max_x = 130.0
#*#
#*# [bltouch]
#*# z_offset = 1.830